* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #b0e1ec;
  justify-content: center;
  font-size: 2.5rem;
}

.title-sub {
  background-color: #eef3f4;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.explore-btn {
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  background-color: #b0e1ec;
  border: transparent;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  text-align: right;
}

.modal-overlay {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  background-color: #ffd9fd;
  border: 5px solid #615d61;
  width: 50%;
}

form {
  margin-bottom: 1rem;
}

#example-map {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}

#city-name {
  display: block;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
}

#stats {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#nav {
  text-align: right;
}

.select-tag {
  margin-bottom: 0.5rem;
  width: 100%;
}

.world-data-list-btn {
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  font-size: 0.8rem;
  outline: none;
  background-color: #b0e1ec;
  border: transparent;
  border-radius: 20px;
}
