* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  background-color: #b0e1ec;
  justify-content: center;
  font-size: 2.5rem;
}

.title-sub {
  background-color: #eef3f4;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

.explore-btn {
  padding: 0.3rem;
  background-color: #b0e1ec;
  border: transparent;
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  text-align: right;
}

form {
  margin-bottom: 1rem;
}

#example-map {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}

#city-name {
  display: block;
}

#map {
  height: 400px;
  width: 100%;
}

@media screen and (max);
