* {
  font-family: "Poppins", sans-serif;
}

.bg-light-blue {
  background-color: #b0e1ec;
}

.title {
  justify-content: center;
  font-size: 2.5rem;
}

.title a:hover {
  text-decoration: none;
  color: white;
}

.title-sub {
  background-color: #eef3f4;
  justify-content: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

#num-of-stations,
#city-country {
  flex-basis: 100%;
}

.explore-btn {
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border: transparent;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none !important;
  text-align: right;
}

#example-map {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}

#city-name {
  display: block;
  font-weight: 800;
}

#map {
  height: 400px;
  width: 100%;
  margin-bottom: 2rem;
}

#stats {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#nav {
  text-align: right;
}

.select-tag {
  margin-bottom: 0.5rem;
  width: 100%;
  outline: none;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
}

.select-description {
  font-size: 1rem;
  font-weight: normal;
}

option {
  width: 100%;
}

.world-data-list-btn {
  padding: 0.2rem 0.3rem 0.2rem 0.3rem;
  font-size: 0.8rem;
  outline: none;
  background-color: #b0e1ec;
  border: transparent;
  border-radius: 20px;
}

.card {
  background-color: #eef3f4;
  border-radius: 20px;
  border: 3px solid #b0e1ec;
}

.card-data {
  font-weight: 800;
}

.seventy-width {
  width: 70%;
}

.flex-direction-row {
  flex-direction: row;
}

.half-flex-basis {
  flex-basis: 50%;
}

.active {
  background-color: #393a3b;
  border-radius: 50%;
  border: 2px solid #393a3b;
}

a.active {
  color: white;
}

a {
  color: #393a3b;
}

.arrow-right,
.arrow-left {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #747474;
  cursor: pointer;
}

.nav-numbers {
  align-items: center;
}

#spinner {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .full-width {
    width: 100%;
  }

  .flex-direction-col {
    flex-direction: column;
  }

  .no-margin {
    margin: 0 !important;
  }
}
